{:paths ["src" "test" "target" "resources""dev-resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0-alpha8"}
        ;; org.clojure/test.check {:mvn/version "0.9.0"}
        org.clojure/tools.reader {:mvn/version "1.3.2"}
        org.clojure/clojurescript {:mvn/version "1.10.520"}
        ;; duckyuck/orchestra {:mvn/version "2019.02.06-1"}
        duckyuck/orchestra {:git/url "https://github.com/duckyuck/orchestra.git"
                            :deps/manifest :mvn
                            :sha "1efcd56195c7f4b983c6bd64a436c41ae59d0aeb"}
        org.clojure/test.check {:mvn/version "0.10.0-alpha3"}
        com.gfredericks/test.chuck {:mvn/version "0.2.9"}}
 :aliases {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.4.5"}}
                   :extra-paths ["test"]}
           :dev {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]
                 :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.1.9"}
                              com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}}

           :test-clj {:extra-paths ["test"]
                      :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-266"}}
                      :main-opts ["-m" "kaocha.runner"]}
           :test-clj-cognitect {:extra-paths ["test"]
                                :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                        :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
                                :main-opts ["-m" "cognitect.test-runner"]}
           :test-cljs {:extra-deps {olical/cljs-test-runner {:mvn/version "0.1.1"}}
                       :main-opts ["-m" "cljs-test-runner.main"]}}}
